.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  height: 5vh;
  padding: .5rem;
  background-color: var(--primary-color);
  color: white;
}

.logo {
  height: 75%;
}

img {
  height: 100%;
}
