.wrapper {
  margin: 0;
  padding: 3rem;
  background: url('../../../public/hero11.jpg');
  position: relative;
  background-position: bottom;
  background-size: cover;
  height: 65vh;
  color: white;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(2.5rem, 4vw, 5rem);
  line-height: 1;
  text-align: center;
  z-index: 1;
}

.text h2 {
  font-size: clamp(2rem, 4vw, 4rem);
  font-family: 'Meddon', cursive;
  margin: 0.5rem 0;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    height: 100vh;
  }
  .logo {
    width: 15rem;
    height: 15rem;
  }

  .hero {
    flex-direction: column;
  }
}
