.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-container {
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
  height: 100vh;
}

.map-container {
  width: 100vw;
  height: 100vw;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  margin-top: 2rem;
}

.contact-info .logo {
  width: 5rem;
}

.adres h3,
span,
.kontakt h3 {
  font-size: 2.2rem;
  margin: 0.5rem;
  line-height: 1.2;
  text-align: center;
}

.adres p,
span,
.kontakt p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0;
}

button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 3rem;
  padding: 1rem 2rem;
  margin: 2rem;
  font-weight: 900;
  border: 0;
}

@media (min-width: 1024px) {
  .contact-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem 0;
    height: 70vh;
  }

  .map-container {
    width: 60vw;
    height: 100%;
  }

  .contact-info {
    width: 40vw;
  }

  .contact-info * {
    margin-top: 0.5rem;
  }

  .contact-info .logo {
    width: 8rem;
  }

  .adres h3,
  span,
  .kontakt h3 {
    font-size: 2rem;
  }

  .adres p,
  span,
  .kontakt p {
    font-size: 1.8rem;
  }

  button {
    padding: 1rem 3rem;
    font-size: 1rem;
  }

  button:hover {
    background-color: var(--secondary-color);
  }

  @media (min-width: 1400px) {
    .contact-container {
      margin: 2rem 0;
    }

    .contact-info * {
      margin-top: 1rem;
    }

    .contact-info .logo {
      width: 20rem;
      margin-bottom: 2rem;
    }

    .adres h3,
    span,
    .kontakt h3 {
      font-size: 3rem;
    }

    .adres p,
    span,
    .kontakt p {
      font-size: 2rem;
    }

    button {
      padding: 2rem 4rem;
      font-size: 1.5rem;
    }

    button:hover {
      background-color: var(--secondary-color);
    }
  }
}
