*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  background-color: white;
}

.text {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  text-align: center;
  height: 100%;
  line-height: 1.25;
}
.text h1 {
  margin: 0;
}
.cards {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  align-items: start;
}

.cards .card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cards img[mat-card-image] {
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
}

.cards ::ng-deep mat-card {
  box-sizing: border-box;
}

.cards img[mat-card-image] {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .text {
    font-size: 1rem;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    width: 80vw;
  }

  .wrapper {
    padding: 1rem;
  }
}

@media (max-width: 420px) {
  .cards img[mat-card-image] {
    object-fit: cover;
  }
}
