.scroll-anim {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.8s ease-out;
}

.scroll-anim.show {
  opacity: 1;
  transform: translateX(0);
}

.from-left {
  transform: translateX(-100px);
}

.from-right {
  transform: translateX(100px);
}
